<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Fog_Light_Kanban;User ID=sa;Password=Conestoga1;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="Fog_Light_KanbanEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Fog_Light_Kanban;persist security info=True;user id=sa;password=Conestoga1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="Configuration.Properties.Settings.Fog_Light_KanbanConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=Fog_Light_Kanban;Persist Security Info=True;User ID=sa;Password=Conestoga1"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
      <add key="timeScaleToolTip" value="Min - 0.1, Max - 100.0. Time scale is the time that will affect the 'time' of the simulations execution.
This will impact refill rate. If timescale is set to 2 and refill is set to 5, refill will actually be 10
Time scale should be in the range of 0.1-10.0."/>
    <add key="refillToolTip" value="Min - 0.1, Max - 100.0."/>
    <add key="rookieDefectToolTip" value="Min - 0.1, Max - 1.0."/>
    <add key="normalDefectToolTip" value="Min - 0.1, Max - 1.0."/>
    <add key="superDefectToolTip" value="Min - 0.1, Max - 1.0."/>
    <add key="rookieBuildToolTip" value="Min - 0.1, Max - 2.0."/>
    <add key="normalBuildToolTip" value="Min - 0.1, Max - 2.0."/>
    <add key="superBuildToolTip" value="Min - 0.1, Max - 2.0."/>
    <add key="binHarnessToolTip" value="Min - 1, Max - 100."/>
    <add key="binReflectorToolTip" value="Min - 1, Max - 100."/>
    <add key="binHousingToolTip" value="Min - 1, Max - 100."/>
    <add key="binLensToolTip" value="Min - 1, Max - 100."/>
    <add key="binBulbToolTip" value="Min - 1, Max - 100."/>
    <add key="binBezelToolTip" value="Min - 1, Max - 100."/>
    <add key="ConfigurationTableScript" value=".//..//..//SQL Script//CreationConfigurationScript.sql"/>
  </appSettings>
</configuration>
